{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <!-- Bloc supérieur histoire/img/dernier article-->
    <div class="row">
      <h1 class="col-12 my-5 text-center">Contact</h1>
  </div>

</div>

{% endblock %}