{% extends 'base.html.twig' %}

{% block title %}Gymnastique masculine{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5 h1-title-page">Gymnastique Artistique Masculine</h1>
        </div>

        <div class="row">
            <div class="jumbotron col-7 offset-1">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
            <div class="jumbotron col-2 offset-1">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

