{% extends 'base.html.twig' %}

{% block title %}Loisir{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5 h1-title-page">Gymnastique Loisir</h1>
        </div>

        <div class="row">
            <div class="bloc-jumbo col-lg-7 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <div class="jumbotron">
                    <h1 class="display-4"> Gymnastique Loisir</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, iste!</p>
                    <hr class="my-4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sequi laudantium asperiores voluptatibus voluptate officiis magnam obcaecati facere unde dolore dolores ullam fuga libero alias fugiat neque nobis molestiae ratione eos rem minima, non placeat sed. Magnam, officiis ratione. Reprehenderit quis nesciunt commodi non. Officiis veritatis labore omnis, minima quae maxime veniam perferendis temporibus amet et voluptates, blanditiis maiores voluptas quasi quaerat praesentium saepe placeat consequatur. Eos quaerat ipsa est sunt expedita neque, incidunt fugit. Sed dolorem error, accusamus reprehenderit voluptatum voluptate aperiam, quo natus non quisquam rerum quam autem molestiae dolor iusto omnis, nesciunt praesentium minima facere cumque pariatur!</p>
                    <div class="bloc-img-description">
                        <img src="{{ asset('src/gymloisir.jpg') }}" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sequi laudantium asperiores voluptatibus voluptate officiis magnam obcaecati facere unde dolore dolores ullam fuga libero alias fugiat neque nobis molestiae ratione eos rem minima, non placeat sed. Magnam, officiis ratione. Reprehenderit quis nesciunt commodi non. Officiis veritatis labore omnis, minima quae maxime veniam perferendis temporibus amet et voluptates, blanditiis maiores voluptas quasi quaerat praesentium saepe placeat consequatur. Eos quaerat ipsa est sunt expedita neque, incidunt fugit. Sed dolorem error, accusamus reprehenderit voluptatum voluptate aperiam, quo natus non quisquam rerum quam autem molestiae dolor iusto omnis, nesciunt praesentium minima facere cumque pariatur!</p>
                    <hr class="my-4">
                    <p class="lead p-3">
                        <a class="btn btn-yellow btn-lg col-4 offset-4" href="{{ path('app_register') }}" role="button">S'inscrire</a>
                        <a class="btn btn-yellow btn-lg col-4 offset-4 my-3" href="{{ path('app_login') }}" role="button">Se connecter</a>
                    </p>
                </div>
            </div>
            <div class="bloc-jumbo-2 col-lg-2 offset-lg-1 col-md-4 offset-md-4 col-sm-4 offset-sm-4">
                <div class="jumbotron">
                    <h1 class="display-4">Entraîneur</h1>
                    <div class="bloc-img-trainer">
                        <img src="{{ asset('src/personal-trainer.png') }}" alt="entraineur"/>
                    </div>

                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita magnam quis esse vero quasi minus cupiditate iusto commodi earum neque.</p>
                    <hr class="my-4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, sunt.</p>

                </div>
            </div>
        </div>

    </div>
{% endblock %}