@font-face {
    font-family: 'Bebas Neue';
    src: url('../font/BebasNeue-Regular.woff2') format('woff2'),
        url('../font/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




/* NAVBAR/HEADER */

.navbar-default{
    background-color: #E0B43F;
    font-family: 'Bebas Neue';
    font-size: 20px;
}

.navbar-default .navbar-nav  a  {
    color: #292827;
}

.logo-navbar{
    width: 60px;
    padding: auto;
}

.navbar-toggler {
    border-color: rgb(0, 0, 0);
   }
.navbar-toggler:hover {
    border-color: rgb(173, 133, 2);
}
.navbar-toggler .icon {
    background-color: rgb(0, 0, 0);
    text-align: center;
}



/* ALL PAGE */
.h1-title-page{
    padding-top: 2rem;
    font-size: 4rem;
    text-align: center;
    font-family: 'Bebas Neue';
}

h5{
    font-family: 'Bebas Neue';
    font-size: 25px;
}



/* page accueil */
.col-lg-5{
    padding: 2rem;
    margin-bottom: 6rem;
    margin-top: 4rem;
}


p{
    text-align: justify;
    color: #75716B;
}

h1{
    color: #E0B43F;
}

h2{
    color: #E0B43F;
}

.right{
    text-align: right;
}

.col-lg-2{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* carroussel */
.carousel-item{
    height: 450px;
}

.carousel-caption{
    border: 1px white solid;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.205);
}

p.slide-p{
    text-align: center;
    color: #292827;
}


/* page contact */
.contact{
    padding-left: 100px;
}


.h3-contact{
    font-size: 20px;
}

.p-contact{
    padding-left: 1rem;
}

.carte{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
.bg-default{
    background-color: #E0B43F;
}

h5{
    color: #292827;
}

.footer_img{
    height: 75px;
    margin: 1rem;
}

.list-unstyled p{
    text-align: center;
}

.btn-yellow{
    background-color: #e0b53f;
    border-color: #e0b53f;
    color:black;
}

footer p{
    color: #292827;
}

footer p a{
    color: #160d2c;
}

footer p.fb-p a{
    color: #160d2c;
    font-size: 1rem;
}

footer p i{
    padding-right: 1rem;
}


/* Page Profil */
.bloc-infos{
    border:3px solid #e0b53f;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* media query */
@media screen and (max-width: 1080px){

    #carouselExampleIndicators{
        display: none;
    }

}


