/* NAVBAR/HEADER */

.navbar-default{
    background-color: #E0B43F;
}

.navbar-default .navbar-nav  a  {
    color: #292827;
   }




/* page accueil */
.col-lg-5{
    padding: 2rem;
    margin-bottom: 6rem;
    margin-top: 4rem;
}

p{
    text-align: justify;
    color: #75716B;
}

h1{
    color: #E0B43F;
}

.right{
    text-align: right;
}

.col-lg-2{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* carroussel */
.carousel-item{
    height: 450px;
}

.carousel-caption{
    text-align: center;
}

p.slide-p{
    text-align: center;
    color: white;
}




/* FOOTER */
.bg-default{
    background-color: #E0B43F;
}

h5{
    color: #292827;
}

.footer_img{
    height: 75px;
    margin: 1rem;
}

.list-unstyled p{
    text-align: center;
}

.btn-yellow{
    background-color: #e0b53f;
    border-color: #e0b53f;
    color:black;
}

footer p{
    color: #292827;
}

footer p a{
    color: #160d2c;
}

footer p.fb-p a{
    color: #160d2c;
    font-size: 1rem;
}

footer p i{
    padding-right: 1rem;
}





/* media query */
@media screen and (max-width: 1080px){

    #carouselExampleIndicators{
        display: none;
    }

}

