{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {# Bloc supérieur histoire/img/dernier article #}
<div class="container-fluid">

  <h1 class="h1-title-page">Erreur 404 : Page introuvable</h1>

    <div class="row">
        <div class="col-lg-6 offset-lg-3 text-center my-1 mt-5">
          <img src="{{ asset('src/error404.png') }}" alt="erreur 404">
        </div>
    </div>
</div>

{% endblock %}